USE [Mendeleev]
GO
/****** Object:  Table [dbo].[MendelevDB]    Script Date: 14.05.2024 16:26:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MendelevDB](
	[AtomicNumber] [int] NOT NULL,
	[Element] [nvarchar](100) NULL,
	[Symbol] [nvarchar](3) NULL,
	[AtomicMass] [float] NULL,
	[NumberofNeutrons] [int] NULL,
	[NumberofProtons] [int] NULL,
	[NumberofElectrons] [int] NULL,
	[Period] [int] NULL,
	[Group] [int] NULL,
	[Phase] [nvarchar](10) NULL,
	[Radioactive] [nvarchar](5) NULL,
	[Natural] [nvarchar](5) NULL,
	[Metal] [nvarchar](5) NULL,
	[Nonmetal] [nvarchar](5) NULL,
	[Metalloid] [nvarchar](5) NULL,
	[Type] [nvarchar](50) NULL,
	[AtomicRadius] [float] NULL,
	[Electronegativity] [float] NULL,
	[FirstIonization] [float] NULL,
	[Density] [float] NULL,
	[MeltingPoint] [float] NULL,
	[BoilingPoint] [float] NULL,
	[NumberOfIsotopes] [int] NULL,
	[Discoverer] [varchar](50) NULL,
	[Year] [int] NULL,
	[SpecificHeat] [float] NULL,
	[NumberofShells] [int] NULL,
	[NumberofValence] [int] NULL,
 CONSTRAINT [PK_MendelevDB] PRIMARY KEY CLUSTERED 
(
	[AtomicNumber] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[MendelevDB] ([AtomicNumber], [Element], [Symbol], [AtomicMass], [NumberofNeutrons], [NumberofProtons], [NumberofElectrons], [Period], [Group], [Phase], [Radioactive], [Natural], [Metal], [Nonmetal], [Metalloid], [Type], [AtomicRadius], [Electronegativity], [FirstIonization], [Density], [MeltingPoint], [BoilingPoint], [NumberOfIsotopes], [Discoverer], [Year], [SpecificHeat], [NumberofShells], [NumberofValence]) VALUES (2, N'Helium', N'He', 4, 2, 2, 2, 1, 18, N'gas', N'', N'yes', N'', N'yes', N'', N'Noble Gas', 0.49, 0, 24.5874, 0.000179, 0, 4.22, 5, N'Janssen', 1868, 5.193, 1, 0)
GO
